<H1 style="color:green;" align="center">Formulario </H1>
<body style="background-color:# d5ff80;">
</body>
<p>Ingrese su nombre completo y diligencie el formulario.</p>
<form>
  <label for="fname">PRIMER NOMBRE:</label><br>
  <input type="text" id="fname" name="fname"><br>
  <label for="lname">APELLIDO:</label><br>
  <input type="text" id="lname" name="lname">
</form>
<form>
<p>SEXO</p>
  <input type="radio" id="masculino" name="gender" value="masculino">
  <label for="masculino">Masculino</label><br>
  <input type="radio" id="femenino" name="gender" value="femenino">
  <label for="femenino">Femenino</label><br>
  <input type="radio" id="otro" name="gender" value="otro">
  <label for="otro">Otro</label>
</form>
<form>
<p><b>Escoge a que rango de edad perteneces</b></p>
  <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
  <label for="vehicle1"> 18 a 25 años</label><br>
  <input type="checkbox" id="vehicle2" name="vehicle2" value="Car">
  <label for="vehicle2"> 25 a 30 años</label><br>
  <input type="checkbox" id="vehicle3" name="vehicle3" value="Boat">
  <label for="vehicle3"> 30 a 35 años</label>
</form>
 <li>
    <label for="mail">Correo electrónico:</label>
    <input type="email" id="mail" name="user_email" />
  </li>
  <p><b>Dejar un mensaje de bienvenida al curso</b></p>
  <li>
    <label for="msg">Mensaje:</label>
    <textarea id="msg" name="user_message"></textarea>
  </li>