<HTML>
<HEAD>
<title>SOFTWARE</title>
<body style="background-color:#ffe6e6;">
<!-- Menú de navegación del sitio -->
<ul class="navbar">
<li><a href="index.html">Datos básicos</a>
<li><a href="Ejercicios.html">Ejercicios</a>
<li><th><a href="Formulario.html">Formulario</a></th>
</ul>
</body>
</body>
</HEAD>
<BODY>
<H1 style="color:blue;" align="center">SOFTWARE </H1>
<HR></HR>
<HR></HR>
<p>Es la suma total de los programas de cómputo, procedimientos, reglas documentación y datos
asociados que forman parte de las operaciones de un sistema de cómputo.</p>
<a href="http://www.tiposdesoftware.com/tipos-de-software-de-sistema.htm">tiposdesoftware.com!</a>
<OL>
<b><LI>DE SISTEMA</LI></b>
<ul>
  <li>Sistemas Operativos</li>
  <li>Controladores De Dispositivos</li>
  <li>Herramientas De Diagnostico</li>
  <li>Servidores</li>
</ul>
<b><LI>DE PROGRAMACION</LI></b>
<ul>
  <li>Editores De Texto</li>
  <li>Compiladores</li>
  <li>Interpretes</li>
  <li>Enlazadores</li>
  <li>Depuradores</li>
  <li>Entorno de Desarrollo Integrado</li>
</ul>
<b><LI>DE APLICACION</LI></b>
<ul>
  <li>Control De Sistemas de automatizacion</li>
  <li>Ofimaticas</li>
  <li>Educativos</li>
  <li>Empresarial</li>
  <li>Base De Datos</li>
  <li>Telecomunicaciones</li>
  <li>Videojuegos</li>
</ul>
</OL>
<img src="{{url_for('static', filename='images.jpg')}}" />

<table border=3>
  <tr>
    <th><a href="http://www.gnu.org">FILOSOFIA</a></th>
    <th>LEGALIDAD</th>
    <th>PROTECCION</th>
	<th>MODO DE DISTRIBUCCION</th>
    <th>UTILIZACION</th>
    <th>COSTO</th>
	<th>APERTURA DE CODIGO</th>
    <th>TIPO DE PRODUCTO</th>
  </tr>
  <tr>
    <td>Libre</td>
    <td>Legal</td>
    <td>Dominio Público</td>
	<td>Demo</td>
    <td>Sistema</td>
    <td>=0</td>
	<td>Abierto</td>
	<td>Hecho a la medida</td>
  </tr>
  <tr>
    <td>Comercial</td>
    <td>Ilegal</td>
    <td>Por licencia: Copyrigth, Copyleft</td>
	<td>Shreware</td>
    <td>Aplicación</td>
    <td>>0</td>
	<td>Cerrado</td>
	<td>Generico</td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
	<td>Freeware</td>
    <td>Lenguaje</td>
    <td></td>
	<td></td>
	<td></td>
  </tr>
</table>
<BR>
<HR></HR>
<p>Te invitamos a ver el siguiente video</p>
<body>
  <h2></h2>
  <video width="320" height="240" controls>
    <source src={{ url_for('static', filename="video_uno.mp4") }} type="video/mp4">

  </video>
</body>
<p><b>Ver Taller</b></p>
<p>Presione en la imagen para descargar el taller:<p>
  <a href="/static/Taller.web.xlsx" download>
    <img src="descarga.png" alt="Taller Excel" width="104" height="142">
  </a>
<hr>
<span>Publicado por Maribel Hoyos Montes</span>

</BODY>

<FOOTER>
<p>Autor: Maribel Hoyos Montes<br>
<a href="mailto:maribel.hoyosm@udea.edu.co">maribel.hoyosm@udea.edu.co</a></p>
</FOOTER>
</HTML>

